.root {
    -fx-background-color: #FFFFFF;
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #1A1E23;
}

.text-field {
    -fx-pref-width: 300px;
    -fx-padding: 10px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-border-color: #1A1E23;
    -fx-border-width: 2px;
}

.login-button, .exit-button {
    -fx-background-color: #ff5722;
    -fx-text-fill: #1A1E23;
    -fx-font-size: 16px;
    -fx-padding: 10px;
    -fx-pref-width: 400px;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
}

.login-button:hover, .exit-button:hover,
.login-button:focused, .exit-button:focused {
    -fx-border-color: #1A1E23;
}

.forgot-password {
    -fx-text-fill: #1A1E23;
    -fx-font-size: 14px;
}

.message-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #1A1E23;
}

.radio-button {
    -fx-background-color: #ff5722;
    -fx-text-fill: #111111;
    -fx-padding: 10px;
    -fx-pref-width: 700px;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
}

.radio-button:hover, .radio-button:focused {
    -fx-border-color: black;
}