.root {
    -fx-background-color: #1A1E23;
}

.button {
    -fx-background-color: #3A6EA5;
    -fx-text-fill: #111111;
    -fx-font-size: 17px;
    -fx-padding: 10px;
    -fx-pref-width: 300px;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
}

.title {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.logout-button {
    -fx-background-color: #2196F3;
    -fx-text-fill: #fffafa;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-cursor: hand;
}

.logout-button:hover {
    -fx-background-color: #1976D2;
}

.button:hover {
    -fx-border-color: #19bfff;
}

.button:focused {
    -fx-border-color: #19bfff;
}