.root {
    -fx-background-color: #f4f4f4;
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.text-field {
    -fx-pref-width: 300px;
    -fx-padding: 10px;
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.date-picker {
    -fx-pref-width: 300px;
    -fx-padding: 10px;
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.add-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-pref-width: 300px;
    -fx-cursor: hand;
}

.message-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.back-button {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-pref-width: 300px;
    -fx-cursor: hand;
}

.back-button:hover {
    -fx-background-color: #1976D2;
}

.add-button:hover {
    -fx-background-color: #388E3C ;
}
