.root {
    -fx-background-color: #00bfa5;
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.text-field {
    -fx-pref-width: 300px;
    -fx-padding: 10px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
}

.login-button, .exit-button {
    -fx-background-color: #ff5722;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-padding: 10px;
    -fx-pref-width: 300px;
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
}

.login-button:hover, .exit-button:hover,
.login-button:focused, .exit-button:focused {
    -fx-border-color: white;
}

.forgot-password {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.message-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
